* {
  margin: 0;
  padding: 0; }

div, input, textarea {
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  min-width: 100%;
  max-width: 1400px;
  font-family: 'Brandon Grotesque', sans-serif; }

header {
  background: url("../img/bg-logo.jpg") no-repeat center top;
  padding: 43px 0 125px 0;
  box-sizing: border-box;
  max-width: 100%;
  display: flex; }
  header .wrap {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    header .wrap .header-top {
      display: flex;
      justify-content: space-between;
      height: 64px; }
      header .wrap .header-top .main-menu {
        display: flex;
        flex-direction: row; }
        header .wrap .header-top .main-menu li {
          display: block;
          margin-right: 30px; }
          header .wrap .header-top .main-menu li:last-child {
            margin-right: 0; }
          header .wrap .header-top .main-menu li a {
            color: #fff;
            text-transform: capitalize;
            font-size: 18px; }
            header .wrap .header-top .main-menu li a:hover {
              border-bottom: 1px solid #fff; }

.header-content {
  display: flex;
  color: #fff;
  flex-direction: column;
  text-align: center; }
  .header-content p {
    font-size: 32px;
    font-weight: 300;
    margin: 161px 0 25px 0; }
  .header-content h1 {
    font-size: 66px;
    text-transform: uppercase; }
  .header-content a {
    color: #fff;
    font-size: 23px;
    text-transform: capitalize;
    display: block;
    width: 240px;
    height: 65px;
    border: 2px solid #fff;
    border-radius: 3px;
    margin: 45px auto 0;
    line-height: 65px; }
    .header-content a:hover {
      color: #533c8c;
      background: #fff; }

.nav-burger-checkbox {
  display: none; }

@media screen and (max-width: 525px) {
  header .wrap .header-top {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    header .wrap .header-top .main-menu {
      display: none;
      position: relative;
      left: -5px; }
      header .wrap .header-top .main-menu li {
        display: block;
        width: 100%; }
        header .wrap .header-top .main-menu li a {
          display: block;
          padding: 8px;
          margin-right: -65px; }
    header .wrap .header-top .nav-burger {
      display: block;
      text-align: center;
      cursor: pointer; }
      header .wrap .header-top .nav-burger:after {
        content: attr(data-open);
        color: #fff;
        display: block; }
    header .wrap .header-top #burger:checked + nav .main-menu {
      display: block; }
    header .wrap .header-top #burger:checked + nav .nav-burger:after {
      content: attr(data-close); } }
.development {
  width: 940px;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 80px 40px 100px 40px; }
  .development .dev-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .development .dev-content .web-dev {
      flex-direction: column;
      display: flex;
      flex-basis: 580px;
      color: #222222;
      /*213*/ }
    .development .dev-content .web-dev-icon {
      /* background: url("../img/flow-tree-icon.png") no-repeat;*/
      width: 221px;
      height: 222px;
      align-self: center; }
      .development .dev-content .web-dev-icon img {
        opacity: 0.1; }

h2 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 40px; }
  h2 span {
    font-weight: bold; }
  h2 + p {
    margin-bottom: 40px; }

p {
  color: #777777;
  font-size: 18px; }

.identity-branding {
  background: #fafafa;
  display: flex;
  box-sizing: border-box; }
  .identity-branding .bran-content {
    width: 940px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 100px 40px 90px 40px;
    justify-content: space-between; }
    .identity-branding .bran-content .identity-branding-icon {
      width: 272px;
      height: 197px;
      align-self: center; }
    .identity-branding .bran-content .identity-text {
      flex-basis: 535px; }

@media screen and (max-width: 767px) {
  .development .dev-content .web-dev h2 {
    font-size: 50px; }
  .development .web-dev-icon {
    display: none; }

  .identity-branding-icon {
    display: none; }

  .identity-text h2 {
    font-size: 50px; } }
.skills {
  width: 940px;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 100px 40px 80px 40px; }
  .skills .skills-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .skills .skills-content ul li {
      display: flex;
      flex-basis: 395px;
      width: 100%;
      margin-bottom: 50px; }
      .skills .skills-content ul li .skill-icon {
        width: 200px;
        height: 70px;
        border-radius: 50%;
        margin-right: 20px; }
      .skills .skills-content ul li .skill-icon-1 {
        background: #222222 url("../img/skill-icon-1.png") no-repeat center center; }
      .skills .skills-content ul li .skill-icon-2 {
        background: #222222 url("../img/skill-icon-2.png") no-repeat center center; }
      .skills .skills-content ul li .skill-icon-3 {
        background: #222222 url("../img/skill-icon-3.png") no-repeat center center; }
      .skills .skills-content ul li .skill-icon-4 {
        background: #222222 url("../img/skill-icon-4.png") no-repeat center center; }
      .skills .skills-content ul li .skill-icon-5 {
        background: #222222 url("../img/skill-icon-5.png") no-repeat center center; }
      .skills .skills-content ul li .skill-icon-6 {
        background: #222222 url("../img/skill-icon-6.png") no-repeat center center; }
      .skills .skills-content ul li .skills-content h3 {
        text-transform: capitalize;
        font-size: 22px;
        color: #222222; }
      .skills .skills-content ul li .skills-content p {
        color: #777777;
        font-size: 18px; }

.clients {
  background: #fafafa;
  box-sizing: border-box; }
  .clients .clients-wrap {
    width: 940px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    padding: 100px 0 60px 0;
    display: flex;
    flex-direction: column; }
    .clients .clients-wrap .awesome-clients h2, .clients .clients-wrap .awesome-clients p {
      text-align: center; }
    .clients .clients-wrap .awesome-clients h2 {
      margin-bottom: 0; }
    .clients .clients-wrap .awesome-clients p {
      font-size: 22px;
      color: #777777;
      margin-bottom: 0; }
    .clients .clients-wrap .feedback {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px; }
      .clients .clients-wrap .feedback .photo {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        background: #111111; }
      .clients .clients-wrap .feedback .text {
        flex-basis: 630px;
        box-sizing: border-box;
        padding: 45px 60px 30px 55px;
        background: #fff;
        border: 2px solid #f3f3f3;
        border-radius: 2px;
        position: relative; }
        .clients .clients-wrap .feedback .text:after {
          content: "";
          width: 0;
          height: 0;
          border: 20px solid transparent;
          border-right: 20px solid #fff;
          position: absolute;
          top: 78px;
          left: -40px; }
        .clients .clients-wrap .feedback .text p {
          font-size: 26px;
          color: #777777; }
          .clients .clients-wrap .feedback .text p + p {
            color: #7690c5;
            font-size: 20px;
            margin-top: 15px; }
      .clients .clients-wrap .feedback .text-start {
        order: -1; }
        .clients .clients-wrap .feedback .text-start:after {
          content: "";
          width: 0;
          height: 0;
          border: 20px solid transparent;
          border-left: 20px solid #fff;
          position: absolute;
          top: 78px;
          left: 626px; }
    .clients .clients-wrap .logos {
      width: 940px;
      margin: 150px auto 0;
      display: flex;
      max-width: 100%; }
      .clients .clients-wrap .logos .logos-icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%; }

@media screen and (max-width: 767px) {
  .clients-wrap .feedback .photo {
    display: none; } }
.amazing-team {
  background: #111111;
  padding: 90px 40px; }
  .amazing-team .team-wrap {
    width: 940px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; }
    .amazing-team .team-wrap .head-team {
      display: flex;
      text-align: center;
      flex-direction: column; }
      .amazing-team .team-wrap .head-team h2 {
        color: #fff;
        margin-bottom: 0; }
    .amazing-team .team-wrap .team-foot {
      display: flex;
      text-align: center;
      justify-content: center; }
      .amazing-team .team-wrap .team-foot p {
        margin-top: 50px;
        flex-basis: 615px;
        font-size: 20px; }

.team {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  flex-wrap: wrap; }
  .team .person {
    color: #fff;
    text-align: center; }
    .team .person .person-photo {
      width: 235px;
      height: 235px;
      border-radius: 50%;
      border: 7px solid #fff; }
    .team .person h4 {
      font-weight: bold;
      margin-top: 13px;
      font-size: 18px; }
    .team .person p {
      color: #fff;
      font-size: 16px; }
    .team .person .social {
      display: flex;
      justify-content: center;
      margin-top: 10px; }
      .team .person .social a {
        width: 40px;
        height: 40px;
        border: 3px solid #fff;
        border-radius: 50%;
        margin-right: 10px;
        align-items: center;
        display: flex;
        justify-content: center; }
        .team .person .social a:last-child {
          margin-right: 0; }
        .team .person .social a i {
          color: #fff; }

.social .twitter:hover {
  background: #00acee;
  border: 3px solid #00acee !important; }
.social .facebook:hover {
  background: #3b5998;
  border: 3px solid #3b5998 !important; }
.social .google-plus:hover {
  background: #dd4b39;
  border: 3px solid #dd4b39 !important; }
.social .pinterest:hover {
  background: #c8232c;
  border: 3px solid #c8232c !important; }

@media screen and (max-width: 784px) {
  .person-3 {
    margin-top: 65px; } }
@media screen and (max-width: 549px) {
  .person-2 {
    margin-top: 65px; } }
footer {
  background: #7690c5;
  padding-top: 100px; }
  footer .footer-wrap {
    width: 940px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #87a0d2;
    padding-bottom: 100px; }
    footer .footer-wrap .footer-title {
      color: #fff;
      flex-basis: 520px; }
      footer .footer-wrap .footer-title .say-hello h2 {
        line-height: 1;
        margin-bottom: 20px; }
      footer .footer-wrap .footer-title .say-hello p {
        color: #fff;
        margin-bottom: 10px; }
      footer .footer-wrap .footer-title .contact {
        display: flex; }
        footer .footer-wrap .footer-title .contact ul {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; }
          footer .footer-wrap .footer-title .contact ul li {
            flex-basis: 220px;
            font-size: 18px;
            margin-top: 40px; }
            footer .footer-wrap .footer-title .contact ul li a {
              color: #fff; }
              footer .footer-wrap .footer-title .contact ul li a i {
                display: inline-block;
                width: 30px; }
    footer .footer-wrap .footer-form {
      padding-left: 13px;
      display: flex; }
      footer .footer-wrap .footer-form form input, footer .footer-wrap .footer-form form textarea {
        width: 100%;
        height: 52px;
        margin-top: 27px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        padding-left: 20px; }
      footer .footer-wrap .footer-form form input[type="text"] {
        margin-top: 0; }
      footer .footer-wrap .footer-form form textarea {
        height: 210px;
        padding-top: 15px; }
      footer .footer-wrap .footer-form form inpit-placeholder {
        color: red; }
  footer .copyright {
    width: 940px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 32px 0; }
    footer .copyright p {
      color: #fff;
      font-size: 16px; }

@media screen and (max-width: 991px) {
  .footer-wrap {
    flex-direction: column; }
    .footer-wrap .footer-title {
      display: flex;
      flex-direction: column;
      flex-basis: 365px !important; }
      .footer-wrap .footer-title .contact ul {
        display: flex; }
        .footer-wrap .footer-title .contact ul li {
          flex-basis: 0; } }

/*# sourceMappingURL=style.css.map */
