* {
  margin: 0;
  padding: 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  min-width: 100%;
  max-width: 1400px;
  font-family: 'Brandon Grotesque', sans-serif;
}

header {
  background: url("../img/bg-logo.jpg") no-repeat center top;
  padding: 43px 0 125px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .wrap {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .wrap .header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
}

header .wrap .header-top .main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .wrap .header-top .main-menu li {
  display: block;
  margin-right: 30px;
}

header .wrap .header-top .main-menu li:last-child {
  margin-right: 0;
}

header .wrap .header-top .main-menu li a {
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
}

header .wrap .header-top .main-menu li a:hover {
  border-bottom: 1px solid #fff;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header-content p {
  font-size: 32px;
  font-weight: 300;
  margin: 161px 0 25px 0;
}

.header-content h1 {
  font-size: 66px;
  text-transform: uppercase;
}

.header-content a {
  color: #fff;
  font-size: 23px;
  text-transform: capitalize;
  display: block;
  width: 240px;
  height: 65px;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin: 45px auto 0;
  line-height: 65px;
}

.header-content a:hover {
  color: #533c8c;
  background: #fff;
}

.nav-burger-checkbox {
  display: none;
}

@media screen and (max-width: 525px) {
  header .wrap .header-top {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  header .wrap .header-top .main-menu {
    display: none;
    position: relative;
    left: -5px;
  }
  header .wrap .header-top .main-menu li {
    display: block;
    width: 100%;
  }
  header .wrap .header-top .main-menu li a {
    display: block;
    padding: 8px;
    margin-right: -65px;
  }
  header .wrap .header-top .nav-burger {
    display: block;
    text-align: center;
    cursor: pointer;
  }
  header .wrap .header-top .nav-burger:after {
    content: attr(data-open);
    color: #fff;
    display: block;
  }
  header .wrap .header-top #burger:checked + nav .main-menu {
    display: block;
  }
  header .wrap .header-top #burger:checked + nav .nav-burger:after {
    content: attr(data-close);
  }
}

.development {
  width: 940px;
  margin: 0 auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 40px 100px 40px;
}

.development .dev-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.development .dev-content .web-dev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 580px;
      -ms-flex-preferred-size: 580px;
          flex-basis: 580px;
  color: #222222;
  /*213*/
}

.development .dev-content .web-dev-icon {
  /* background: url("../img/flow-tree-icon.png") no-repeat;*/
  width: 221px;
  height: 222px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.development .dev-content .web-dev-icon img {
  opacity: 0.1;
}

h2 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 40px;
}

h2 span {
  font-weight: bold;
}

h2 + p {
  margin-bottom: 40px;
}

p {
  color: #777777;
  font-size: 18px;
}

.identity-branding {
  background: #fafafa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.identity-branding .bran-content {
  width: 940px;
  margin: 0 auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 40px 90px 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.identity-branding .bran-content .identity-branding-icon {
  width: 272px;
  height: 197px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.identity-branding .bran-content .identity-text {
  -webkit-flex-basis: 535px;
      -ms-flex-preferred-size: 535px;
          flex-basis: 535px;
}

@media screen and (max-width: 767px) {
  .development .dev-content .web-dev h2 {
    font-size: 50px;
  }
  .development .web-dev-icon {
    display: none;
  }
  .identity-branding-icon {
    display: none;
  }
  .identity-text h2 {
    font-size: 50px;
  }
}

.skills {
  width: 940px;
  margin: 0 auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 100px 40px 80px 40px;
}

.skills .skills-content ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skills-content ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 395px;
      -ms-flex-preferred-size: 395px;
          flex-basis: 395px;
  width: 100%;
  margin-bottom: 50px;
}

.skills .skills-content ul li .skill-icon {
  width: 200px;
  height: 70px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 20px;
}

.skills .skills-content ul li .skill-icon-1 {
  background: #222222 url("../img/skill-icon-1.png") no-repeat center center;
}

.skills .skills-content ul li .skill-icon-2 {
  background: #222222 url("../img/skill-icon-2.png") no-repeat center center;
}

.skills .skills-content ul li .skill-icon-3 {
  background: #222222 url("../img/skill-icon-3.png") no-repeat center center;
}

.skills .skills-content ul li .skill-icon-4 {
  background: #222222 url("../img/skill-icon-4.png") no-repeat center center;
}

.skills .skills-content ul li .skill-icon-5 {
  background: #222222 url("../img/skill-icon-5.png") no-repeat center center;
}

.skills .skills-content ul li .skill-icon-6 {
  background: #222222 url("../img/skill-icon-6.png") no-repeat center center;
}

.skills .skills-content ul li .skills-content h3 {
  text-transform: capitalize;
  font-size: 22px;
  color: #222222;
}

.skills .skills-content ul li .skills-content p {
  color: #777777;
  font-size: 18px;
}

.clients {
  background: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clients .clients-wrap {
  width: 940px;
  margin: 0 auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 100px 0 160px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients .clients-wrap .awesome-clients h2, .clients .clients-wrap .awesome-clients p {
  text-align: center;
}

.clients .clients-wrap .awesome-clients h2 {
  margin-bottom: 0;
}

.clients .clients-wrap .awesome-clients p {
  font-size: 22px;
  color: #777777;
  margin-bottom: 0;
}

.clients .clients-wrap .feedback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.clients .clients-wrap .feedback .photo {
  width: 220px;
  height: 220px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #111111;
}

.clients .clients-wrap .feedback .text {
  -webkit-flex-basis: 630px;
      -ms-flex-preferred-size: 630px;
          flex-basis: 630px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 45px 60px 30px 55px;
  background: #fff;
  border: 2px solid #f3f3f3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  position: relative;
}

.clients .clients-wrap .feedback .text:after {
  content: "";
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right: 20px solid #fff;
  position: absolute;
  top: 78px;
  left: -40px;
}

.clients .clients-wrap .feedback .text p {
  font-size: 26px;
  color: #777777;
}

.clients .clients-wrap .feedback .text p + p {
  color: #7690c5;
  font-size: 20px;
  margin-top: 15px;
}

.clients .clients-wrap .feedback .text-start {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.clients .clients-wrap .feedback .text-start:after {
  content: "";
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left: 20px solid #fff;
  position: absolute;
  top: 78px;
  left: 626px;
}

@media screen and (max-width: 767px) {
  .clients-wrap .feedback .photo {
    display: none;
  }
}
